body{
    background-image: url('imgs/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
p{
    color:gold;
    font-size: 150%;
    width: 560px;
}
.flex-container{
    display:flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.flex-container div{
    display:flex;
    flex-wrap: wrap;
    background-color: brown;
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
}