:root{
    --main-bg-color: black;
}
body{
  background-color: var(--main-bg-color);
}

p{
    color:gold;
    font-size: 150%;
    width: 560px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.grid-container{
    justify-content: center;
    display:grid;
    padding: 10px;
    margin: 10px;
    grid-template-columns: auto;
    width: 100%;
    flex-wrap: wrap;
    grid-template-areas: 'texto texto texto'
    'img1 img2 img3'
    'autor autor autor';
}
.grid-container div{
    justify-content: center;
    display:grid;
    flex-wrap: wrap;
    background-color: crimson;
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
}
.texto{
    grid-area: texto;
}
.img1{
    grid-area: img1;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px;
}
.img2{
    grid-area: img2;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px;
}
.img3{
    grid-area: img3;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px;
}
.autor{
    grid-area: autor;
    font-family: cursive;
    font-style: oblique;
}
